.card-body {
    background-image: url('../../assets/geryshade\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
}
#bg{
    background-image: url('../../assets/images.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}